<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .button-link {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        background-color: #007bff;
        color: white;
        text-decoration: none; /* 移除下划線 */
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<body>
    <h1>這是第二頁</h1>
    <a href="/logout" class="button-link">登出</a>
    <a href="/page1" class="button-link">跳轉到 Page 1</a>
    <a href="/page2" class="button-link">跳轉到 Page 2</a>
</body>
</html>